{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SISTEMA</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'build/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'build/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'build/vendor/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include "partials/topbar.html" %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- System Messages -->
                {% include 'partials/messages.html' %}
                <!-- Page Heading -->
                {% block heading %}{% endblock %}
                {% block content %}{% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'partials/footer.html' %}
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{% include 'partials/logout.html' %}
<!-- End Logout Modal-->

<!-- Bootstrap core JavaScript-->
<script src="{% static 'build/vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'build/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'build/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'build/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'build/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'build/vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>

<!-- Page level custom scripts -->
<!--
<script src="{% static 'build/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'build/js/demo/chart-pie-demo.js' %}"></script>
-->
{% block extra_js %}{% endblock %}

</body>

</html>