{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ACNEP - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'build/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'build/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container align-items-center">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="">
              <div class="p-5">
                <div class="text-center">
                    <img src="{% static 'chaplains/img/logo.svg' %}" alt="no-logo" style="max-height: 300px; max-width: 300px;">
                    <br/><br/>
                </div>
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Iniciar Sesión</h1>
                </div>
                <form class="user" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                  {% endfor %}
                  {% if form.errors %}
                    <div id="message" class="mb-4 bg-red-100 text-sm leading-snug border-l-4 border-red-500 text-red-700 p-4 shadow">
                      {% for key, value in form.errors.items %}
                        <span class="fieldWrapper">
                            {{ value }}
                        </span>
                      {% endfor %}
                    </div>
                  {% endif %}

                  <!-- Remember Me
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember
                        Me</label>
                    </div>
                  </div>
                  -->
                  <!--
                  <a href="index.html" class="btn btn-primary btn-user btn-block">
                    Login
                  </a>
                  -->
                  <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                  <!-- <hr> -->
                  <!-- Login with google
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  -->
                  <!-- Login with Facebook
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                  -->
                </form>
                <!-- <hr> -->
                <!-- Forgot Password
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                -->
                <!-- REGISTER
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'build/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'build/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'build/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'build/js/sb-admin-2.min.js' %}"></script>

</body>

</html>