{% extends "layout.html" %}
{% load static %}
{% block heading %}
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">
    <a href="{% url 'plan_list' %}">Plan</a>
  </h1>
{% endblock %}
{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Eliminar Plan</h6>
    </div>
    <div class="card-body">
      <p>Está Seguro que quiere eliminar este registro? </p>
      <span><b>{{ plan.name}} {{ plan.description }}</b></span>
      <br><br>
      <form method="post" enctype="multipart/form-data" action="{% url 'plan_delete' plan.id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-sm btn-primary shadow-sm" value="Confirmar">
        <a class="btn btn-sm btn-light shadow-sm" href="{% url 'plan_list' %}">Volver a Lista de Planes</a>
      </form>
    </div>
  </div>
{% endblock %}
