{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a href="{% url "plan_list" %}">Plan</a>
    </h1>
{% endblock %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Crear Plan</h6>
        </div>
        <div class="card-body">
            <form id="id_create_chaplain_form" method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.name|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.monthly_price|as_crispy_field }}
                {{ form.yearly_price|as_crispy_field }}
                <input type="submit" class="btn btn-sm btn-primary shadow-sm" value="Guardar">
                <a class="btn btn-sm btn-light shadow-sm" href="{% url 'plan_list' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'build/vendor/chosen-js/chosen.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/jquery-datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/jquery-ui-dist/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/dropify/css/dropify.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'build/vendor/chosen-js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'build/vendor/moment/moment.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-mask-plugin/jquery.mask.min.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-formset/jquery.formset.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'build/vendor/dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'pagos/js/plan_functions.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            initializeInputs();
        });

    </script>


{% endblock %}