{% extends "layout.html" %}
{% load static %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a href="{% url 'plan_list' %}">Plan</a>
    </h1>

{% endblock %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalles de plan ID: {{ plan.id }}</h6>
        </div>
        <div class="card-body">
            <h2 class="text-2xl font-semibold">{{ plan.name }}</h2>
            <p><strong class="text-primary">Nombre de Plan: </strong> {{ plan.name }}</p>
            <p><strong class="text-primary">Descripcion: </strong> {{ plan.description }}</p>
            <p><strong class="text-primary">Costo Anual : </strong> {{ plan.yearly_price }}</p>
            <p><strong class="text-primary">Costo Mensual: </strong> {{ plan.monthly_price }}</p>

            <a href="{% url 'plan_update' plan.id %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <span class="text">Editar</span>
            </a>
            <a href="{% url 'plan_list' %}" class="btn btn-light btn-icon-split">
            <span class="icon text-gray-600">
                <i class="fas fa-arrow-right"></i>
            </span>
                <span class="text">Volver al Listado</span>
            </a>
        </div>
    </div>
{% endblock %}


