{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
            <img src="{% static 'chaplains/img/logo.svg' %}" alt="no-logo" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
        </div>
        <div class="sidebar-brand-text mx-3"><!--SB Admin <sup>2</sup>--> Sistema</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% if user.is_staff %}
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
          <i class="fas fa-fw fa-cog "></i>
          <span><!--Dashboard--> Admin del Sistema</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
        <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-house-user"></i>
            <span><!--Dashboard--> Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <!--Interface---> Módulos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Capellanes -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClinic"
           aria-expanded="true" aria-controls="collapseClinic">
            <i class="fa fa-users"></i>
            <span><!--Components--> Capellanes</span>
        </a>
        <div id="collapseClinic" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"><!---Custom Components:--> Capellanes</h6>
                <a class="collapse-item" href="{% url 'chaplain_list'  %}"><!---Buttons---> Listado Capellanes</a>
                <a class="collapse-item" href="{% url 'chaplain_create' %}"><!---Buttons---> Agregar Capellanes</a>
                <!--<a class="collapse-item" href="cards.html">Cards</a>-->
            </div>
        </div>
    </li>

    <!-- Pagos -->
{#    <li class="nav-item">#}
{#      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSubscriptions"#}
{#         aria-expanded="true" aria-controls="collapseSubscriptions">#}
{#        <i class="fa fa-calendar"></i>#}
{#        <span><!--Pagos--> Suscripciones</span>#}
{#      </a>#}
{#      <div id="collapseSubscriptions" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#        <div class="bg-white py-2 collapse-inner rounded">#}
{#          <h6 class="collapse-header"><!---Custom Components:--> Pagos</h6>#}
{#          <a class="collapse-item" href="{% url 'payment_history_list' %}"><!---Buttons--->Listado de Pagos</a>#}
{#          <a class="collapse-item" href="{% url 'payment_history_create' %}"><!---Buttons--->Agregar Pagos</a>#}
{#            <h6 class="collapse-header"><!---Custom Components:--> Suscripciones</h6>#}
{#          <a class="collapse-item" href="{% url 'subscriptions_list' %}"><!---Buttons--->Listado de Suscripciones</a>#}
{#          <a class="collapse-item" href="{% url 'subscriptions_create' %}"><!---Buttons--->Agregar Suscripciones</a>#}
{#            <h6 class="collapse-header"><!---Custom Components:--> Planes</h6>#}
{#          <a class="collapse-item" href="{% url 'plan_list' %}"><!---Buttons--->Listado de Planes</a>#}
{#          <a class="collapse-item" href="{% url 'plan_create' %}"><!---Buttons--->Agregar Planes</a>#}
{#          <!--<a class="collapse-item" href="cards.html">Cards</a>-->#}
{#        </div>#}
{#      </div>#}
{#    </li>#}
    {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-house-user"></i>
            <span><!--Dashboard--> Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <!--Interface---> Módulos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Capellanes -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'chaplain_update' user.chaplain.first.id %}" >
            <i class="fa fa-users"></i>
            <span><!--Components--> Mi perfil</span>
        </a>

    </li>
    {% endif %}


{#  <!-- Reports -->#}
{#  <li class="nav-item">#}
{#    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports"#}
{#       aria-expanded="true" aria-controls="collapseReports">#}
{#      <i class="fa fa-chart-line"></i>#}
{#      <span><!--Components--> Reportes</span>#}
{#    </a>#}
{#    <div id="collapseReports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#      <div class="bg-white py-2 collapse-inner rounded">#}
{#        <h6 class="collapse-header"><!---Custom Components:--> Reportes</h6>#}
{#        <a class="collapse-item" href="{% url 'reports.cash_report_list' %}"><!---Buttons---> Caja</a>#}
{#        <a class="collapse-item" href="{% url 'reports.reporting_doctors_report_list' %}"><!---Buttons---> Doctores Informantes</a>#}
{#        <a class="collapse-item" href="{% url 'reports.treating_doctors_report_list' %}"><!---Buttons---> Doctores Tratantes</a>#}
{#        <a class="collapse-item" href="{% url 'reports.insurances_agreements_report_list' %}"><!---Buttons---> Cobro a Seguros</a>#}
{#        <a class="collapse-item" href="{% url 'reports.consultation_sheet_total_report_list' %}"><!---Buttons---> Total Consolidado</a>#}
{##}
{#        <a class="collapse-item" href="{% url 'reports.reports_definition_list' %}"><!---Buttons---> Definición de Reportes</a>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </li>#}

    <!-- Nav Item - Utilities Collapse Menu
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>
    -->
    <!-- Divider
    <hr class="sidebar-divider">
    -->
    <!-- Heading
    <div class="sidebar-heading">
        Addons
    </div>
    -->
    <!-- Nav Item - Pages Collapse Menu
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>
    -->

    <!-- Nav Item - Charts
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>
    -->
    <!-- Nav Item - Tables
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>
    -->
    <!-- Divider
    <hr class="sidebar-divider d-none d-md-block">
    -->
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="{% static 'build/img/undraw_rocket.svg' %}" alt="">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and
            more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>
    -->
</ul>
