{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a href="{% url 'subscriptions_list' %}">Suscripciones</a>
    </h1>

{% endblock %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalles de Suscripcion ID: {{ subscription.id }}</h6>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <h2 class="text-2xl font-semibold">{{ subscription.chaplain.name }} {{ subscription.chaplain.last_name }}</h2>
                        {#            <p><strong class="text-primary">Nombre de Capellan: </strong> {{ subscription.chaplain.name }}</p>#}
                        <p><strong class="text-primary">Membresia: </strong> {{ subscription.plan.name }} </p>
                        <p><strong class="text-primary">Monto
                            mensual: </strong> {{ subscription.plan.monthly_price|intcomma }} </p>
                        <p><strong class="text-primary">Fecha de
                            Inicio: </strong> {{ subscription.startDate |date:'d/m/Y' }}</p>
                        <p><strong class="text-primary">Fecha de
                            Fin: </strong> {{ subscription.endDate|date:'d/m/Y'|default_if_none:"---" }}</p>
                        <p><strong class="text-primary">Fecha de
                            Finalizacion: </strong> {{ subscription.finishDate|date:'d/m/Y'|default_if_none:"---" }}</p>
                        {% if subscription.isActive == True %}
                            <p><strong class="text-primary">Pagado: No.</strong></p>
                            <p><strong class="text-primary">Link para Pago:</strong><a
                                    href=" {{ subscription.url }} ">
                                 {{ subscription.url }} </a></p>
                            </div>
                            <div class="col">
                                <img src="{{ subscription.url}}/qr"
                                     alt="No QR Image.">
                            </div>
                            </div>
                            </div>

                        {% else %}
                            </div>
                            <div class="col">
                                <br/><br/>
                                <p><strong class="text-primary">Detalles de Pago.</strong></p>
                                {% if subscription.payment.all %}
                                    {% for detail in subscription.payment.all %}
                                        <p><strong class="text-primary">Tipo de pago: </strong> {{ detail.get_payment_type_display }} </p>
                                        <p><strong class="text-primary">Fecha: </strong> {{ detail.date }} </p>
                                        <p><strong class="text-primary">Monto: </strong> {{ detail.amount }} </p>
                                        <p><strong class="text-primary">Numero de referencia: </strong> {{ detail.ref_number }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            </div>
                        {% endif %}

    <a href="{% url 'subscriptions_update' subscription.id %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
        <span class="text">Editar</span>
    </a>
    <a href="{% url 'subscriptions_list' %}" class="btn btn-light btn-icon-split">
            <span class="icon text-gray-600">
                <i class="fas fa-arrow-right"></i>
            </span>
        <span class="text">Volver al Listado</span>
    </a>
    </div>
    </div>
{% endblock %}


