{% extends "layout.html" %}
{% load static %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a href="{% url 'payment_history_list' %}">Pagos</a>
    </h1>

{% endblock %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalles de pago ID: {{ payment_history.id }}</h6>
        </div>
        <div class="card-body">
            <h2 class="text-2xl font-semibold">{{ payment_history.subscription.chaplain }} {{ payment_history.id }}</h2>
            <p><strong class="text-primary">Tipo de Pago: </strong> {{ chaplain.get_payment_type_display }}</p>
            <p><strong class="text-primary">FechaÑ </strong> {{ chaplain.date|date:'d/m/Y' }}</p>
            <p><strong class="text-primary">Monto: </strong> {{ chaplain.amount }}</p>
            <p><strong class="text-primary">Numero de Referencia: </strong> {{ chaplain.ref_number }}</p>
            <p><strong class="text-primary">Nombre de capellan: </strong> {{ payment_history.subscription.chaplain.name|default_if_none:"---" }}</p>
            <p><strong class="text-primary">Suscripcion N&deg;: </strong> {{ payment_history.subscription.id|default_if_none:"---" }}</p>

            <a href="{% url 'payment_history_update' payment_history.id %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                <span class="text">Editar</span>
            </a>
            <a href="{% url 'payment_history_list' %}" class="btn btn-light btn-icon-split">
            <span class="icon text-gray-600">
                <i class="fas fa-arrow-right"></i>
            </span>
                <span class="text">Volver al Listado</span>
            </a>
        </div>
    </div>
{% endblock %}


